node_modules/
.env
data/*.db
data/*.db~
data/contact-submissions.json
data/newsletter-subscribers.json
public/images/products/*.jpg
public/images/products/*.jpeg
public/images/products/*.png
public/images/products/*.webp
public/images/products/*.gif
public/images/categories/*.jpg
public/images/categories/*.jpeg
public/images/categories/*.png
public/images/categories/*.webp
public/images/categories/*.gif
public/images/how-it-works/*.jpg
public/images/how-it-works/*.jpeg
public/images/how-it-works/*.png
public/images/how-it-works/*.webp
public/images/how-it-works/*.gif
!public/images/products/.gitkeep
!public/images/categories/.gitkeep
!public/images/how-it-works/.gitkeep
